 @charset "utf-8";
 
 div.contents {
 	  
 	  margin: 0 auto;
      margin-left: auto;
	  margin-right: auto;
 	  width:1500px;
 }
 
 /*그림파일을 읽어온다죠*/
 div.ground {
      background:url('/resources//img//planlist//pl_bg_1.jpg') no-repeat;
      background-size:cover;
 } 
 
 /*사진위 버턴들의 모임!*/
 div.button-packege {
        position: absolute;
        margin: 0 auto;
        margin-top: 500px;
        margin-left: 540px;
}

/*아래쪽 박스들이 나오는 것*/
a.dest-img {
       float: left;
       width: 211px;
       height: 192px;
       margin: 12px 12px 0 0;
       position: relative;
       overflow: hidden;
       border: 1px solid #1b7e7b;
}